.button {
    min-width: 60px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222222;
    color: #ffffff;

    font-family: var(--highlight-font);
    font-size: 1.1rem;
}

@media screen and (min-width: 1280px) {
    .button:hover {
        background-color: var(--highlight-color);
        color: #000000;
    }
}