.h1 {
    font-family: var(--default-font);
    font-size: var(--title-size);
}

.h2 {
    font-family: var(--default-font);
    font-size: var(--subtitle-size);   
    font-weight: lighter;
}

.p {
    font-family: var(--default-font);
    font-size: var(--paragraph-size);
    color: #778899;
}