.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100%;
    min-height: 15%;
    background-color: #222222;
    padding: 10px;
}

.conteiner_icons {
    display: flex;
    gap: 
    15px;
}

.icons {
    font-size: 1.5rem;
    color: #ffffff;
}