.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 100%;
    min-height: 15%;
    background-color: #222222;
    padding: 10px;
}

.conteiner_icons {
    display: flex;
    margin-bottom: 10px;
}

.icons {
    font-size: 1.8rem;
    color: #ffffff;
    box-sizing: content-box;
    padding: 10px;
}

.highlight {
    font-family: var(--highlight-font);
    font-size: var(--title-size);
    color: var(--highlight-color);
}

@media screen and (min-width: 1280px) {

    .icons:hover {
        display: inline-flex;
        cursor: pointer;
        transform: scale(1.2);
        color: var(--highlight-color);
    }
}